@model UsersData.ViewModels.User.DeleteUserVM


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Potwierdzenie Usunięcia</title>
</head>
<body>
    <div id="Page">
        <div id="Header">
            <h2>Potwierdzenie Usunięcia Użytkownika</h2>
        </div>
        <p>
            <div id="Detail">
                @Html.DisplayNameFor(model => model.ID)
            </div>
            @Html.DisplayFor(model => model.ID)
        </p>

        <p>
            <div id="Detail">
                @Html.DisplayNameFor(model => model.FName)
            </div>
            @Html.DisplayFor(model => model.FName)
        </p>

        <p>
            <div id="Detail">
                @Html.DisplayNameFor(model => model.LName)
            </div>
            @Html.DisplayFor(model => model.LName)
        </p>

        <p>
            <div id="Detail">
                @Html.DisplayNameFor(model => model.Age)
            </div>
            @Html.DisplayFor(model => model.Age)
        </p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Usuń" />
        }

        <div id="Return">
            @Html.ActionLink("Powrót do menu", "ListUsers")
        </div>
    </div>
</body>
</html>
